* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

/* shared style */
.btn-primary {
    border: 0;
    width: 174px;
    height: 52px;
    margin-top: 20px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
}

.text-title {
    text-align: center;
    color: #131318;
    font-size: 2.6rem;
    font-weight: 800;

}

.text-description {
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin: 20px;
}

/* header related style */
header {
    max-width: 1350px;
    margin: auto;

}

nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

}

.logo {
    display: flex;
    gap: 20px;
}

.logo img {
    width: 48px;
    height: 56px;
}

.logo h3 {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;

}

.text-color {
    color: #FF5400;
}

nav>ul {
    display: flex;
    gap: 44px;

}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424247;
    font-size: 1.2rem;
}

nav li a:hover {
    color: #FF5400;
}

nav .active {
    color: #FF5400;
}

nav li a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.banner-container {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/banner.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-top: 20px;

}

.banner-content {
    padding: 100px;
    text-align: center;
    color: white;

}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border: 0;
    margin-top: 80px;
}

.form-inline {
    text-align: left;
    height: 52px;
    width: 174px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
}

.btn {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
}

.btn img {
    width: 15px;
    height: 12px;
}

/* main related style */
main {
    max-width: 1350px;
    margin: auto;
    /* border: 1px solid red; */
}

/* Popular Tours */
.popular-tour-container {
    margin: 80px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 17rem;
    /* display: flex;
    justify-content: space-between; */
}

/* .popular-tour-content {
    width: 700px;
} */

.popular-tour-content h3 {
    color: #131318;
    text-align: left;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 800;
}

.popular-tour-content p,
li {
    color: rgba(19, 19, 24, 0.70);
    text-align: justify;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    padding-top: 24px;
    line-height: 26px;
}

.popular-tour-image {
    width: 100%;
}



/* destination */

.destination-container {
    text-align: center;
    margin: 80px 0;
}

.tour-place-container {
    margin: 10px auto;
    display: grid;
    gap: 24px;
    justify-content: center;
}

.places {
    display: flex;
    gap: 24px;
}

.places div {
    margin: 0;
}

.places img {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}

.tour-name-title {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 800;
    position: relative;
    top: -50%;
}


/* choose us */
.choose-us-card-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.choose-us-card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}

.choose-us-card.card {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-title {
    color: #131318;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;

}

.card-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.choose-us-card-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    grid-auto-flow: column;

}

.choose-us-card-N {
    margin-top: 1.8rem;
    place-self: center;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 30px;
}



/* discount related style */
/* .deals-container {}



/* perfect place */
.perfect-place {
    margin-top: 50px;
}

.perfect-place-container {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 40px;
    justify-content: space-between;
    margin: 0 auto;
}

.perfect-place-container li {
    color: #131318;
    font-weight: 700;
}

.perfect-place details p {
    margin-top: 3rem;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.perfect-place-title {
    color: #131318;
    font-size: 1.7rem;
    font-weight: 800;

}

.video {
    width: 610px;
    height: 424px;
    border-radius: 12px;
}

/* review style */
.review-container {
    margin-top: 8rem;
}

.review-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.4rem;
}

.review-card {
    max-width: 450px;
    border-radius: 16px;
    padding: 3rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    box-shadow: 5px 5px 5px #FF5400;
}

.review-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review-card h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;

}

.review-card p {
    color: #5A5A5D;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 400;

}





/* Newsletter */
.newsletter-section {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

}

.newsletter-content {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;

}

.newsletter-content h3 {
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;

}

.newsletter-content p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}


.newsletter-form {
    display: grid;
    padding-top: 20px;
}

.newsletter-form input {
    justify-content: center;
    /* width: 393px; */
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
}

.newsletter-form .primary {
    align-items: center;
    /* width: 393px; */
    height: 52px;
    border-radius: 8px;
}

.newsletter-img {
    position: relative;
}

.offer {
    position: absolute;
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    text-align: center;
    color: white;
    transform: rotate(-19.628deg);
    bottom: 64px;
    right: 4px;
    align-items: center;
}

.offer h3 {
    font-size: 2rem;
    font-weight: 800;
    /* transform: rotate(-19.628deg); */

}







/* footer section */
footer {
    margin-top: 2.4rem;
    padding-top: 1.4rem;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
}

.footer-container {
    text-align: center;

}

.footer-container p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;

}

.logo.logo-adjust {
    padding: 20px;
    justify-content: center;
}

.icons {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-hr {
    background: rgba(19, 19, 24, 0.10);
    width: 50%;
    margin: auto;

}

.footer-description {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 20px 0;
}







/* !!!!!!!!!!!!!!! Responsive Style!!!!!!!!!!!!!! */
@media screen and (max-width:600px) {

    nav,
    .places,
    .newsletter-section,
    .popular-tour-container {
        flex-direction: column;
    }

    .nav a:not(:first-child) {
        display: none;
    }

    .nav a.icon {
        float: right;
        display: block;
    }

    .banner-container {
        background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/banner.png);
        background-repeat: no-repeat;
        background-position: center
    }

    .banner-content {
        padding: 32px;
    }

    .banner-title {
        font-size: 1.4rem;
        align-items: center;
        font-weight: 800;
        margin-bottom: 1rem;
    }

    .banner-description {
        font-size: 1rem;
        align-items: center justify;
        margin-bottom: 0.9rem;
    }

    .form {
        margin: 0;
        display: flex;
        width: 287px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .form-inline {
        width: 95%;
        height: 52px;
    }

    main {
        padding: 24px;
    }

    .newsletter-img.offer {
        width: 100%;
    }

    .search-box-container,
    .choose-us-card-column,
    .perfect-place-container,
    .popular-tour-container,
    .review-card-container,
    .newsletter-section {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .newsletter-content {
        width: 270px;
        height: 353px;
    }

    .newsletter-img {
        width: 341px;
        height: 353px;
    }

    .perfect-place-container,
    .popular-tour-container {
        flex-direction: column;
        grid-template-columns: repeat(1, 3fr);
        gap: 40px;
    }

    .perfect-place-container li,
    .popular-tour-content p li {
        color: #131318;
        font-weight: 700;
    }

    .popular-tour-content h3 {
        color: #131318;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 800;
    }

    .popular-tour-content p {
        color: rgba(19, 19, 24, 0.70);
        font-size: .9rem;
        font-style: normal;
        font-weight: 400;
        width: 335px;
    }

    .popular-tour-content li {
        color: rgba(19, 19, 24, 0.70);
        font-size: .9rem;
        font-style: normal;
        font-weight: 400;
        width: 335px;
    }

    .p-tour-image {
        width: 335px;

    }

    .video {
        width: 100%;
    }

    .footer-hr {
        width: 100%;
    }

}